{{!-- This handlebar focuses on the activty aspect of the app. Will have chosen activity + activity options --}}
    {{!-- BOOTSTRAP used in this handlebar template --}}

{{!-- These cards focus on the activity cards available to you --}}
<body style="background-color: rgba(234,231,226);">
  <h1 style="text-align:center;">Which activity feels right for you?</h1>
<div class="row" id="activityPage">


</div>
<script src="/js/activity.js"></script>
</body>



