<body style="background-color: rgba(185,203,217);">
    <h1 style="color: rgba(21,34,54); font-size: 2rem; text-align: center; position: relative; align-top: 50%; margin-top: 75px;">
        Welcome to BurnOut Buddy!
    </h1>

    <img src="./images/welcome_bob.png" id="congratsBob" style="max-width: 250px; margin-left: 40px"/>
    <div style="display: flex; justify-content:center; margin-top: 150px;">
        <h4 style="font-size: 1.25rem">How would you like to proceed?</h4>
    </div>
            <div style="display: flex; justify-content: center;flex-direction: row; margin-top: 20px;">
                <a href="/quiz" style="margin: 20px" class="begin">Take the feelings quiz!</a>
                <a href="/home" style="margin: 20px" class="begin">Go to your homepage.</a>
            </div>
</body> 
