<body style="background-color: rgba(207,227,226);">
    <h1 style="color: rgba(21,34,54); font-size: 2rem; text-align: center; position: relative; align-top: 50%;" id="finishedActivity">
        You've accomplished your BurnOut Buddy activity!
    </h1>
    <img src="./images/bob_says_congrats!.png" id="congratsBob"/>
    <footer id="homepageBtn">
        <a href="home" class="btn btn-primary" id="continueToHomepage">Continue to Homepage!</a>
    </footer>
</body> 

