

<nav>
<ul>
    <li class="nav-item"><a class="nav-link disabled" href="/activities">Activities</a></li>
    <li class="nav-item"><a class="nav-link disabled" href ="/feed">Feed</a></li>
    <li class="nav-item"><a class="nav-link disabled" href ="/history">History</a></li>
    <li class="nav-item"><a class="nav-link disabled" href ="/logout">Logout</a></li>

</ul>

</nav>

<div class="col">
 <div class="card">
  <div class="card-body">
    <ul>
    <li>Feed</li>
    <li>History</li>
    <li>Journal</li>
    <li>??</li>
    </ul>
  </div>
</div>
</div>

<div class="container">
 <div class="card">
  <div class="card-body">
Inspirational quote of the day.
  </div>
 </div>
  <div class="card">
  <div class="card-body">
    Further help? <a href = "wwww.psychologytoday.com"> Therapists near you.</a>
  </div>
 </div>
   <div class="card">
  <div class="card-body">
    Re-take quiz.
  </div>
 </div>


</div>

      
  </div>

