  <link rel="stylesheet" href="./css/style.css">
<body style="background-color: rgba(21,34,54); color: rgba(234,231,226);">
<div class="text-center" id="landingPage">
    <h1>Feeling Burnt Out?</h1>
    <div id = "match">
<img src="/images/unlit_match_img.jpeg" alt="unlit match" onclick = "changePic()" id = "matchimg" height="200px" >
    </div>


    <p>Click the match to reignite</p>
    <a href ="/login" id = "linkspot" hidden = "true">Take the quiz</a>

</div>
</body>

<script src="./js/match.js"></script>