<body style="background-color: rgba(21,34,54); color: rgba(234,231,226);">
<div class="text-center">
    <h1>Feeling Burnt Out?</h1>
    <div>
<img src="/images/unlit_match_img.jpeg" alt="unlit match" onclick = "changePic()" id = "matchimg">
    </div>

    <p>Click the match to reignite</p>

</div>
</body>

<script src="./js/match.js"></script>