<body style="background-color: rgba(21,34,54); color: white;">
<div class="row" id="login" style="display: flex; flex-direction: column; align-items: center;">
  <div class="col-md-6" style="display: flex; flex-wrap: wrap; flex-direction: column">
    <h2 style="text-align: center;">Login</h2>

    <form class="form login-form" style="text-align: center; margin: 30px;">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login"/>
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
            <a href="/afterLogin" style="color: white;">login</a>
        </button>
      </div>
    </form>
  </div>
<a href="/signup" style="color: white; text-align: center; margin-top: 30px;">Not yet a member? Sign up here!</a>
<script src="./js/login.js"></script>
</body>

{{!-- NEEDS TO BE VERIFIED BEFORE LOGGING INTO PROFILE/QUIZ. --}}