{{!-- Template for the quiz questions or 'feeling questions' that will be asked within our selfcare quiz. --}}
    {{!-- tiny use of bootstrap (for responsive web design) --}}

    <div class="card text-center" id="main">
            <h5 class="card-title">{{!--QUIZ QUESTION--}}</h5>
            <p class="card-text">
                <li>
                    {{!--QUIZ QUESTION--}}
                </li>
                <li>
                    {{!--QUIZ QUESTION--}}
                </li>
                <li>
                    {{!--QUIZ QUESTION--}}
                </li>
                <li>
                    {{!--QUIZ QUESTION--}}
                </li>
                <li>
                    {{!--QUIZ QUESTION--}}
                </li>
            </p>
            <a href="#" class="btn btn-primary w-25 p-3 mx-auto" 
            id="btnQuiz">{{!--NEXT QUESTION--}}</a>
    </div>