<body style="background-color: rgba(21,34,54); color: rgba(234,231,226); font-family:Georgia, 'Times New Roman', Times, serif;">
<div class="text-center">
    <h1>Activity Timer: </h1>
    <script>countdown()</script>
    <img src="../public/images/emotionalsupport_BOB.png" alt="BOB - the burnout buddy"/>
</div>
</body>