{{!-- Template for the quiz questions or 'feeling questions' that will be asked within our selfcare quiz. --}}
    {{!-- tiny use of bootstrap (for responsive web design) --}}
<body style="background-color: rgba(254,221,216); color: rgba(21,34,54);">
        <h1 style="text-align:center;">How long do you want your activity to be?</h1>
            <div class="time_id" style="text-align:center;">
                <li data-time-id="1" class="minutes">
                    5 minutes
                </li>
                <li data-time-id="2" class="minutes">
                    10 minutes
                </li>
                <li data-time-id="3" class="minutes">
                    15 minutes
                </li>
                <li data-time-id="4" class="minutes">
                    20 minutes
                </li>
                <li data-time-id="5" class="minutes">
                    30 minutes
                </li>
            </div>
<script src="./js/timeQuiz.js"></script>
</body>