<body style="background-color: rgba(21,34,54); color: rgba(234,231,226); font-family:Georgia, 'Times New Roman', Times, serif;">
<div class="text-center">
    <h1>Activity Timer: </h1>
    <span id="timer"></span>
    <img src="./images/emotionalsupport_BOB.png" alt="BOB - the burnout buddy" id="emotionalSupportBob"/>
</div>
<script src="./js/timer.js"></script>
</body>
    