:root {
    --dark-blue: rgba(21,34,54);
    --light-blue: rgba(185,203,217);
    --dark-pink: rgba(252,201,197);
    --light-pink: rgba(254,221,216);
    --neutral: rgba(234,231,226);
    --greenish: rgba(207,227,226);
}

#main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#burnoutBuddyLink{
    color: white;
}

#burnoutBuddyLink:hover {
    text-shadow: 0 5px 5px var(--light-pink);
}

#btn {
    background-color: var(--greenish);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    margin-top: 5px;
    text-align: center;
}

#btn:hover {
    box-shadow: 0 5px 10px rgba(21,34,54,.6);
}

#btnQuiz {
    background-color: var(--light-pink);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

#btnQuiz:hover {
    box-shadow: 0 5px 10px rgba(21,34,54,.6);
}

#link {
    color: var(--dark-pink);
    font-size: .85rem;
}


#activities {
    padding: 25px;
}

a{
    display: block;
}

#timer{
    font-size: 2rem;
    text-align: center;
}


#emotionalSupportBob {
    max-width: 300px;
    display: block;
    position: relative;
    left: 80%;
    top: 170px;
} 

#match
    :hover {
    src: "/images/lit_match_img.png";
  }

  #match {
    color: pink
  }

  #congratsBob {
    max-width: 300px;
    display: block;
    position: relative;
    top: 50px;
    left: 35%;
  }

  #continueToHomepage {
    background-color: var(--dark-blue);
    color: white;
    border-color: white;
    /* margin-top: 5px; */
    text-align: center;
  }

  #continueToHomepage:hover {
    box-shadow: 0 5px 10px rgba(21,34,54,.6);
}       

.time_id {
    margin-top: 60px;
}

.minutes {
    color: var(--dark-blue);
    font-size: 1.25rem;
    margin: 10px;
}
.minutes:hover {
    cursor: pointer;
    color: white;
    text-shadow: 0 5px 5px var(--dark-blue);
}

#activityTimer,
#finishedActivity,
#landingPage,
#login,
#signup {

    margin-top: 150px;
}

#homepageBtn {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}


#timerLink {
    color: white;
    margin-top: 150px;
}

#login,
#signup {
    display: flex;
    justify-content: center;
}

.begin {
    color: var(--dark-blue);
    margin: 10px;
}
.begin:hover {
    cursor: pointer;
    color: var(--dark-blue);
    text-shadow: 0 2px 2px white;
}



/* web responsiveness */

/* not working */
@media screen and (max-width: 768px) {
    img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}