:root {
    --dark-blue: rgba(21,34,54);
    --light-blue: rgba(185,203,217);
    --dark-pink: rgba(252,201,197);
    --light-pink: rgba(254,221,216);
    --neutral: rgba(234,231,226);
    --greenish: rgba(207,227,226);
}

#main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#btn {
    background-color: var(--greenish);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

#btn:hover {
    box-shadow: 0 5px 10px rgba(21,34,54,.6);
}

#btnQuiz {
    background-color: var(--light-pink);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

#btnQuiz:hover {
    box-shadow: 0 5px 10px rgba(21,34,54,.6);
}

#link {
    color: var(--light-pink);
    font-size: .6rem;
}

#match
    :hover {
    src: "/images/lit_match_img.png";
  }

  #match {
    color: pink
  }